/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  :root{
    --Violet: hsl(257, 40%, 49%);
    --Soft-Magenta: hsl(300, 69%, 71%);

    --ff-heading-400-600: 'Poppins', sans-serif;
     --ff-body400: 'Open Sans', sans-serif;
  }

  body{
    min-height: 100vh;
    background-color: var(--Violet);
    background-image: url(images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

.container{
  max-width: 1320px;
  margin: 0 auto;
  height: 100vh;
}

.wrapper{
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 0;
  margin: 0 2rem;
}

.header img{
  width: 190px;
  padding-bottom: 20px;
}

.main{
  display: flex;
  align-items: center;
  gap: 40px;
}

.hero-text h1{
  color:#fff;
  font-family: var(--ff-heading-400-600);
  margin-bottom: 20px;
}

.hero-text p{
  font-family: var(--ff-body400);
  color: #fff;
  line-height: 1.8;
  margin-bottom: 30px;
}


button{
  display: inline-block;
  font-family: var(--ff-heading-400-600);
  cursor: pointer;
  text-decoration: none;
  background-color: #fff;
  color: var(--Violet);
  padding: 13px 50px;
border-radius: 25px;
box-shadow: 0 8px 17px -8px rgba(0. 0. 0. .8);
transition: all .3s ease;
}
 

  button:is(:hover, :focus){
    background-color: var(--Soft-Magenta);
    color:var(--Violet);
    
    }

    .social{
      text-align: right;
      margin-top: 20em;
     
    }

    .social a i{
      font-size: 18px;
       position: relative;
      color: #fff;
      transition: all .3s ease;
     
    }

    .social a:not(:first-child){
      margin-left: 2rem;
      
    }

   
    .social a i::after{
      content: '';
      position: absolute;
      height: 40px;
      width: 40px;
      border: 2px solid #fff;
      border-radius: 50%;
      left: -12px;
      bottom: -11px;
      transform: all .3s ease;
    }

    .social a :nth-child(2){
      margin-left: 2.4rem;
    }

    .social a i:hover{
      color: var(--Soft-Magenta);
    }

    .social a i:hover::after{
      border-color: var(--Soft-Magenta);
      
    }

    @media only screen and (max-width:1440px){
     .hero-tag img{
      width: 100%;
     }
    }

    @media only screen and (max-width:768px){
      .main{
       flex-direction: column;
       text-align: center;
      }

      .hero-text h1{
        font-size: 2em;
      }

      .social{
        text-align: center;
        margin-top: 3rem;
      }
     }
 

    
       
   

    

 




